<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<!-- 上記Rubyコマンドは、下の書き方を同値-->
<!-- <%= stylesheet_link_tag('application', スタイルシートへのパス
  {media: 'all', 'data-turbolinks-track' => true}) %> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
